@use "../abstract/" as *;

.hero {
  // @include cover-background("./assets/desktop/image-header.jpg");
  // height: 80rem;

  // @include breakpoint-down(xsmall) {
  //   @include cover-background("./assets/mobile/image-header.jpg");
  //   height: 53.8rem;
  // }

  // @include breakpoint-up(xlarge) {
  //   height: 100vh;
  // }

  @include breakpoint-up(large) {
    height: 100vh;
    overflow: hidden;
  }

  &__container {
    display: grid;
    place-items: center;
  }

  .content-container {
    text-align: center;
    padding: 0 2.4rem;
  }

  .text-content {
    padding: {
      top: 19.5rem;
      bottom: 9.3rem;
    }

    @include breakpoint-up(xlarge) {
      padding-top: 28.5rem;
    }

    h1 {
      font-size: $fs-800;
      @include letter-spacing(18.5);
      color: $color-text-white;
    }

    @include breakpoint-down(medium) {
      padding: {
        top: 8rem;
        bottom: 4rem;
      }

      h1 {
        font-size: $fs-700;
        @include letter-spacing(18);
      }
    }
  }

  .image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }

    @include breakpoint-up(medium) {
      .hero__img-mobile {
        display: none;
      }
    }

    @include breakpoint-down(small) {
      .hero__img-desktop {
        display: none;
      }
    }
  }
}
