$color-neutral-500: #23303e;
$color-neutral-400: #5a636c;
$color-neutral-300: #818498;
$color-neutral-200: #a7abae;
$color-neutral-100: #ffffff;
$color-dark-blue: #19536b;
$color-green-100: #90d4c5;
$color-green-200: #458c7e;
$color-green-300: #25564b;
$color-yellow: #fad400;
$color-soft-red: #fe7867;

$color-text-default: $color-neutral-300;
$color-text-dark: $color-neutral-400;
$color-text-subtle: $color-neutral-200;
$color-text-white: $color-neutral-100;
$color-accent-01: $color-yellow;
$color-accent-02: $color-soft-red;
$color-accent-03: $color-green-200;
$color-accent-04: $color-green-300;
$color-accent-05: $color-dark-blue;
$color-background-default: $color-neutral-100;
$color-background-footer: $color-green-100;
